@import url('https://fonts.googleapis.com/css2?family=Gidugu&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

:root {
  --background-color: #d8e0eb;
  --main-text-color: #0c4160;
  --light-text-color: #999;
  --link-color: #d9304f;
  --header-font: 'Gidugu', 'sans-serif';
  --body-font: 'Kanit', 'sans-serif';
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--body-font);
  color: var(--main-text-color);
  line-height: 1.6;
  font-size: 18px;
  background-color: var(--background-color);
}

* {
  box-sizing: border-box;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}